//- head.jade
//- This file provides the HTML head part

head
  title NodeJS
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.js")
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/db2_style.css")

