doctype html
html
  include head
  include body
  div.container
    .jumbotron
        p
            |  API set for interfacing with XMLSERVICE.
            br
            | for more info.&#160
            a(href="http://youngiprofessionals.com/wiki/index.php/XMLSERVICE/XMLSERVICE") XMLService
        br