doctype html
html
  include head
  include body
  div.container
    .jumbotron
        h2 POWERUp18 demo of Toolkit for i (Click "Toolkit for i" in the Navbar to see sample application)
        p
            |  API set for interfacing with XMLSERVICE.
            br
            | for more info.&#160
            a(href="http://youngiprofessionals.com/wiki/index.php/XMLSERVICE/XMLSERVICE") XMLService
        br
