doctype html
html
  include head
  include body
  div.container
    .jumbotron
        h2 DB2 Access for i
        p
            | API set for manipulating DB2 for i from Node.js.
            br
            | for more info.&#160
            a(href="http://yips.idevcloud.com/wiki/index.php/NodeJs/NodeJs") Node.js
        h2 Toolkit for i 
        p
            |  API set for interfacing with XMLSERVICE.
            br
            | for more info.&#160
            a(href="http://youngiprofessionals.com/wiki/index.php/XMLSERVICE/XMLSERVICE") XMLService
        br
        p Dwonload the app.&#160
            a(href="https://hub.jazz.net/project/rangercairns/MyIBMiNodeJs") IBM Bluemix