//- zzcall.jade
//- This file defines the view of this app.

doctype html
html
  include head
  include body
  block content
    table
      tr
        td
          h1= title
          textarea #{outi}

