{
  "ServiceId": "org.eclipse.orion.client.cf.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "jgorzins@us.ibm.com",
      "Space": "lisugdemo"
    },
    "Name": "AmadDemo3",
    "Instrumentation": {
      "host": "AmadDemo3"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}